.page-wrap {
    max-width: 60%;
    margin: 20 auto;
    text-align: left;
}

#flex-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 #flex-menu > .flex-item {
  flex: auto;
}

#mobile-menu {
  display: none;
}

.topbar {
  display: none;
}

.main-section {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 1vw;
  height: auto;
}

.sidebar {
  width: 15%;
  padding: 1vw;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar > * {
  height: 7vh;
  letter-spacing: 1px;
}

.middle-section {
  width: 60%;
  overflow: auto;

  border-style: inset;
  border-width: 4;
  border-color: white;
  box-shadow: 5px 7px 10px blue;
}

.scroll {
  display: none;
}

#section-text {
  padding: 3vw;
}

#section-text > * {
  display: none;
}

#section-text > #incense {
  display: block;
}


header {
  font: 30px;
  letter-spacing: 4px;
  color: white;
}


body {
    background-image: url('images/tech-grief.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    font: 16px Syne Mono, sans serif;
    color: white;
    z-index: 15;
}

a {
  font-weight: bold;
  color: #d9f58e;
  text-decoration: none;
}

blockquote {
  margin-left: 20px;
  padding-left: 24px;
  margin-right: 12px;
  border-left: 1px solid #fff;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */


#flex-menu {
  display: none;
}

#mobile-menu {
  display: initial;
}

.page-wrap {
  max-width: 85%;
  }

#links{
  transform:scale(0.7);
  width: auto;
  margin-right: 30px;
  background-image: none;
  }

.scroll {
  display: block;
  text-align: left;
  margin-left: 10%;
  font-size: 30px;
}

.topbar {
  display: flex;
  flex-direction: column;
  width: 86%;
  margin: 12px 8% 12px 8%;
  height: 20%;
  justify-content: flex-start;
  text-align: left;
  overflow: auto;
  border-bottom-style: inset;
  border-bottom-color: white;
  }

.topbar > * {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 12px;
  line-height: 40px;

  color: white;
  border-style: inset;
  border-width: 4px;
  border-color: white;
  box-shadow: 5px 7px 10px blue;
}

.sidebar {
  display: none;
  }

.main-section {
  width: 100%;
  height: auto;
  justify-content:  center; 
  }

.middle-section {
  width: 85%;
}

#section-text > * {
  text-align: left;
}

#section-text > #incense {
  text-align: center;
  margin-top: 5%;
}

iframe {
  width: 320;
  height: 200;
}

}

